body {
    background-color: rgb(189, 245, 255);
}

#cabecalho {
    background-color: white;
    height: 300px;
    width: 1150px;
    margin: auto;
    border-radius: 20px;
}

#cabecalho h1 {
    text-align: center;
    color: rgb(0, 119, 255);
}

#cabecalho h2{
    text-align: center;
    color: rgb(0, 122, 156);
}

#cabecalho p {
    text-align: center;
    color: rgb(0, 0, 0);
}

#body {
    margin: 100px 10px 100px 10px;
    background-color: white;
    height: 1500px;
    width: 1250px;
    font-family: 'Franklin Gothic Medium';
    font-size: 13pt;
    border-radius: 20px;
}

#body img {
    padding: 35px;
}
#body h2{
    color: blue;
    background-color: rgb(157, 216, 231);
    background-size: 10px 20px;
    font-family: cursive;
    font-size: 22pt;
}
ol {
    text-align: left;
}
table{
    border-color: green;
}
#rodape {
    margin: auto;
    background-color: white;
    height: 210px;
    width: 650px;
    padding: 30px 0px 0px 0px;
}
.righ{
    text-align: right;
}
h1{
    color: darkblue;
}
form {
    font-size: 20pt;
    text-align: center;
}
#form h1{
    text-align: center;
}
#local {
    margin: auto;
    background-color: white;
    width: 300px;
    justify-content: center;
}
#rodape p{
    font-family: 'Courier New';
}
#form {
    height: 200px;
    width: 1110px;
     margin: auto;
     background-color: rgb(189, 245, 255);
     justify-content: center;
 }